body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    color: #40b2b2;
    margin: 50px auto 0 auto;
    /* text-align:center;        (another way for centering text)  */
    /*width: 20%;*/                 
    /*margin: 0 auto 0 auto;         auto automatically centers horizontally or vertically*/  
    font-family: 'Sacramento', cursive; 
    font-size: 5.625rem;                /*   % and em gives dynamic size     16px = 100% = 1em   */
}

h2{
    font-family:  'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #34b3b3;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    font-family:  'Montserrat', sans-serif;
    color: #11999E;
}

p{
    line-height: 1.80;
}

a{
    color: #11999E;
    font-family:  'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #eaf6f6;
}

hr{
    border: dotted #c4d0d0 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.top-container {
    padding-top: 100px;
    background-color: #66bfbf54;
    position: relative;
}

.middle-container{
    margin: 100px 0;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.pro {
    text-decoration: underline;
}

.intro{
    width: 30%;
    margin: auto;
}

.bottom-cloud{
    position: absolute;
    left: 230px;
    bottom: 300px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 1.80;
}

.code-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chilli-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family:  'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .copyright{
    color: #f7ffff;
    font-size: 0.80rem;
    padding: 20px 0 1px;
  }